ul {
  text-align: center;
  list-style: square;
  color: red;
}
h1 {
  text-align: center;
}
img {
  width: 500px;
}
ol {
  display: flex;
  list-style: none;
}
h3 {
  float: right;
}
td {
  border: 1px solid black;
  text-align: center;
}
th {
  border: 1px solid black;
  text-align: center;
}
